*{
    border: 0px solid black;
    box-sizing: border-box;
}

html{
    font-family: 'Work Sans', sans-serif;
}
body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    --color-tosca: #54B6A5;
    --color-lightTosca: #4ECEB8;
    --color-lightGrey: #F2F5F9;
    --color-darkGrey: #D7D7D7;
    --color-Blue: #167BFF;

}

/*navigation bar style*/
.nav-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid var(--color-darkGrey);
}

.logo{
    max-height: 30px;
    justify-content: flex-start;
    margin-top: 8px;
    object-fit: contain;
}
.nav-2{
    justify-content: flex-end;
    flex-direction: row;
}
.search-bar {
    background-color: var(--color-lightGrey);
    height: 35px;
    width: 20vw;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    color: var(--color-darkGrey)
}
.avatar{
    height: 35px;
    width: 35px;
    background-color: var(--color-darkGrey);
    border-radius: 100%;
    float: right;
    margin-left: 30px;
}

/*contents*/
#container{
    height: 100vh;
    display:flex;
    flex-direction: row;
}
.sidebar{
    background-color: var(--color-lightGrey);
    height: 100%;
    width: 20%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
}
.directory{
    width: 100%;
    margin:0;
    text-align: left;
    padding-top: 20px;
}
.divider{
    border-bottom: 1px solid var(--color-darkGrey);
}
p{
    font-size: 14px;
}
p:hover{
    color: var(--color-Blue);
}
.indent{
    margin-left: 20px;
}

/*my resources*/
.content{
    width: 80%;
    padding: 30px;
    margin: 0;
}

/*my resources header*/
.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-darkGrey);
    margin:0;
    padding-bottom: 20px;
}
h1 {
    margin: 0;
}
.header-content-2{
    flex-direction: row;
    width: 50%;
    margin: 0;
    padding-left: 30px;
}

/*buttons*/
.btn{
    height: 40px;
    width: 100px;
    background-color: var(--color-tosca);
    color: white;
    border-radius: 20px;
    font-size: 12px;
    font-style: 600;
    float: right;
    margin-right: 20px;
    font-size: 14px;
    padding: 5px;
}
.btn:hover{
    border: 2px solid var(--color-tosca);
    background-color: white;
    color: var(--color-Blue);
}
.btn-icon{
    height: 40px;
    width: 40px;
    border-radius: 4px;
    background-color: white;
    margin: 0px 5px;
    float: right;
    color: var(--color-Blue);
}
.btn-icon:hover{
    background-color: var(--color-lightGrey);
    border: 1px solid var(--color-darkGrey);
    color: black;
}
.btn-login{
    background-color: white;
    color: var(--color-tosca);
    height: 35px;
    width: 100px;
    font-size: 16px;
    font-weight: 600;
}
.btn-login:hover{
    color: var(--color-Blue);
}

/*table*/
table {
    justify-content: flex-start;
}
tr, td{
    border-bottom: 1px solid var(--color-darkGrey);
    width: 100vw;
    height: 6vh;
    margin: 0;
    justify-content: flex-start;
}
td{
    padding-left: 20px;
}
td:hover{
    background-color: var(--color-lightGrey);
}
.list{
    color: black;
}
.space{
    margin-right: 10px;
}
.space:hover{
    color: var(--color-Blue);
}
.table-icons{
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 5%;
    padding: 5px;
}
i:hover{
    color: var(--color-Blue);
}

/*link rules*/
a {text-decoration: none; color: black;}
a:link {text-decoration: none; color: black;}
a:active {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: var(--color-Blue);}


/*-------------------responsive-mobile*/
@media (max-width: 340px){
    /*nav bar*/
    .nav-1{
        flex-direction: column;
        padding: 30px;
    }
    .logo{
        margin: 0;
    }
    .search-bar{
        margin-top: 20px;
        width: 65vw;
    }
    .avatar{
        margin-top: 20px;
        margin-left: 10px;
        width: 35px;
        height: 35px;
    }
    .btn-login{
        margin-top: 20px;
        margin-left: 10px;
        width: 100px;
        height: 35px;
    }
    /*content*/
    .sidebar{
        display: none;
    }
    h1{
        font-size: 18px;
        padding: 20px;
    }
    .content{
        width: 100vw;
        padding: 30px;
    }
    .mobile-directory{   
    }
    .header-content{
        background-color: var(--color-lightGrey);
        flex-direction: column;
        padding: 0;
    }
    .header-content-2{
        background-color: white;
        flex-direction: row-reverse;
        width: 100%;
        padding: 10px;
        height: 100%;
    }
    .btn{
        margin-left: 20px;
        height: 35px;
        float: right;
    }
    .btn-icon{
        background-color: yellow;
        height: 35px;
        width: 35px;
        border-radius: 4px;
        background-color: white;
        float: left;
        margin: 10px 0 20 0;
    }
    /*table*/ 
    table{
        margin-top: 20px;
    }
    }

/*-------------------responsive - tablet*/
@media (min-width: 341px) and (max-width: 768px){
    /*nav bar*/
    .nav-1{
        flex-direction: column;
    }
    .logo{
        margin: 0;
    }
    .search-bar{
        margin-top: 20px;
        width: 70vw;
    }
    .avatar{
        margin-top: 20px;
        margin-left: 10px;
        width: 35px;
        height: 35px;
    }
    /*content*/
    .sidebar{
        display: none;
    }
    h1{
        font-size: 20px;
        padding: 20px;
    }
    .content{
        width: 100vw;
        padding: 0;
    }
    .header-content{
        background-color: var(--color-lightGrey);
        flex-direction: column;
        padding: 0;
        border-bottom: none;
    }
    .header-content-2{
        background-color: white;
        flex-direction: row-reverse;
        width: 100%;
        padding: 10px;
        height: 100%;
    }
    .btn{
        margin-left: 20px;
        height: 35px;
        float: right;
    }
    .btn-icon{
        background-color: yellow;
        height: 35px;
        width: 35px;
        border-radius: 4px;
        background-color: white;
        float: left;
        margin: 10px 0 20 0;
    }
    /*table*/ 
    table{
        margin-top: 20px;
    }
}